<!-- This file imports static javascript file from static folder  -->

{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title>{{ app_name }}</title>
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" -->
</head>
<body>
	<center>
		{{app_name}}
	</center>
	{% if loggedin %}
    <div class='appname'>{{ appname }} ({{ username }}) </div>
	{% else %}
			<div style="background: #ba035b !important" class="jumbotron text-center">
				<h1 style= "color: white !important">MatchMe </h1>
				<p style= "color: white !important">Life is too short to waste time matching socks...</p>
			</div>
   {% endif %}
	<br>
	<ul class='menu'>
		{% if loggedin %}
        <li><a href="{% url 'profile' %}">Edit Profile</a></li>
				<li><a href="{% url 'matches' %}">Edit Profile</a></li>
		{% else %}
		<div class ="btn-toolbar">

						<a href= "{% url 'login' %}"button type="submit" id="btn"class="btn btn-info btn-lg center-block">Log In</a></button>
						<a href ="{% url 'createAccount' %}" button type="submit" id="btn"class="btn btn-info btn-lg center-block">Sign up</a></button>

				</div>
		 {% endif %}
	</ul>
	<br>
	{% block content %}
	{% endblock %}
	<br>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="{% static 'mainapp/scripts.js' %}"></script>
	<script src="{% static 'mainapp/file_upload.js' %}"></script>
</body>
</html>
