{% extends "mainapp/base.html" %}
{% load staticfiles %}

{% block content %}
<div style="background: #ba035b !important" class="jumbotron text-center">
<h1 style= "color: white !important">MatchMe </h1>
<p style= "color: white !important">Life is too short to waste time matching socks...</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
    </div>

    <div class="col-sm-4">
<h3>Hurry up! Don't miss anything...</h3>
</br></br></br>
      <form method='POST' style="font-size: 20px !important" action="/friends/">
        {% csrf_token %}
        <div class="form-group">
        <input type='text' maxlength='16' id='logusername' name='username'>
        </div>
        <div class="form-group">
        <input type="text" name="password" placeholder="Password">
        </div>
        <button type="submit" id="btn"class="btn btn-info">Log In</a></button>
        <br>
        <a style="font-size: 16px !important" href ="/createAccount/">Not a member? Click here to create an account</a>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>
<br/><br/>
{% endblock %}
