{% extends "mainapp/base.html" %}
{% load staticfiles %}

{% block content %}
<nav style="background: #ba035b !important"class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">DatingApp</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a style="background: #990049 !important" href="#">Friends</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/profile/"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
      <li><a href="/logOut/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h2>Find somewone who matches you...</h2>
  <img id='profile-img' height=150 src='{{profile.image.url}}'></img>

  <input class="form-control" id="myInput" type="text" placeholder="Search by gender and/or age...">
  <br>
  <div id = "membertable">
  </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

function renderMemberTable(response){
  current = new Date(Date());
  var table = "<table class='table table-bordered' style='background: #f9f9f9 !important'><thead><tr><th>Username</th><th>Gender</th><th>Age</th><th>Common Hobbies</th><th></th></tr></thead><tbody id='myTable'>"
  for (var i = 0; i < response.length; i++){
    dob = new Date(response[i].dob);
    age = current.getYear() - dob.getYear()
    table += "<tr><td>" + response[i].name + "</td><td class = 'gender'>" + response[i].gender + "</td><td>" + age + "</td><td>" + response[i].commonh + "</tr>";
  }
  table += "</tbody></table>"
  $("#membertable").html(table);
}
$("#membertable").ready(function(){
    var token = '{{csrf_token}}';
  $.ajax({
    headers: {"X-CSRFToken" : token},
    type: 'GET',
    url: '/getUsersWithSameHobbies',
    success: renderMemberTable,
    error: function(e){print("error: " + e)},
  });
});
</script>
{% endblock %}
