<!-- This file imports static javascript file from static folder  -->

{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title>{{ app_name }}</title>
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" -->
</head>
<body>
	<center>
		{{app_name}}
	</center>
<div id = "mydiv"></div>
<div class = "dropdown"></div>
	<br>
	{% block content %}
	{% endblock %}
	<br>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="{% static 'mainapp/scripts.js' %}"></script>
</body>
</html>
