{% extends "mainapp/base.html" %}
{% load staticfiles %}

{% block content %}
<div style="background: #ba035b !important" class="jumbotron text-center">
<h1 style= "color: white !important"> Welcome to your favorite Dating Website </h1>
<p style= "color: white !important">The place you may find your other half...</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Waiting for luck?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>

    <div class="col-sm-4">
      </br>
      </br>
      </br>
      </br>
    </br>
    </br>
    </br>
    </br>
      <form style="font-size: 25px !important">
        Username: <input type="text" name="username"><br>
        Password: <input type="text" name="password"><br>
        <input type="submit" value="Login">
      </form>
    </div>

    <div class="col-sm-4">
      <h3>More feaures</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>

  </div>
</div>


<br/><br/>

<h5> This is the main page </h5>




{% endblock %}
